
		<h1>Edit Product</h1>
		
		{{#if errorMsg}}

		<div class="alert alert-danger">
			
			{{#each errorMsg }} 

				<p>{{this}}</p>
			
			{{/each}}

		</div>
			
		{{/if}}
		
		<form action="/product/{{product._id}}?_method=PUT" enctype="multipart/form-data" method="post">
			
			<input type="hidden" name="_method" value="PUT">
			
			<div class="form-group">
				<label for="title">Title</label> 

				<input type="text" id="title" name="title" value="{{product.title}}">

			</div>

			<div class="form-group">
				<label for="description">Description</label> 

				<input type="text" id="description" name="description" value="{{product.description}}">

			</div>

			<div class="form-group">
				<label for="price">Price</label> 

				<input type="text" id="price" name="price" value="{{product.price}}">

			</div>

			<div class="form-group">
				<label for="productImage">Product Image</label> 

				  <input type="file" name="productImage">

			</div>


			{{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> --}}
			<button type="submit" class="">Update</button>


		</form>

		
	