

{{#if successMsg}}
	<div>{{successMsg}}</div>
{{/if}}

<h1>{{title}}</h1>


<h2>Products</h2>

<div><a href="product/create">New Product</a></div>

{{# each products }} 

	{{#if this.imagePath}}
		<img style="width: 150px" src="{{this.imagePath}}" alt="">
	{{/if}}

	<p><strong>Title</strong>: {{this.title}} | 
		<a href="product/edit/{{this._id}}" >Edit</a> | 
		<a href="product/delete/{{this._id}}" >Delete</a>
	</p>


{{/each}}