

{{#if successMsg}}
	<div>{{successMsg}}</div>
{{/if}}

<h1>{{title}}</h1>


<h2>Products</h2>

<div><a href="{{baseUrl}}/product/create">New Product</a></div>

{{# each products }} 

	{{#if this.imagePath}}
		<img style="width: 150px" src="{{baseUrl}}/{{this.imagePath}}" alt="">
	{{/if}}

	<p><strong>Title</strong>: {{this.title}}  | 
		<a href="{{baseUrl}}/product/edit/{{this._id}}" >Edit</a> | 
		<a href="{{baseUrl}}/product/delete/{{this._id}}" >Delete</a>
	</p>





{{/each}}


<div class="pagination">
			  <ul>
			    {{#paginate pagination type="first"}}
			      <li {{#if disabled}}class="disabled"{{/if}}><a href="/product/page/{{n}}">First</a></li>
			    {{/paginate}}
			    {{#paginate pagination type="previous"}}
			      <li {{#if disabled}}class="disabled"{{/if}}><a href="/product/page/{{n}}">Prev</a></li>
			    {{/paginate}}
			    {{#paginate pagination type="middle" limit="7"}}
			      <li {{#if active}}class="active"{{/if}}><a href="/product/page/{{n}}">{{n}}</a></li>
			    {{/paginate}}
			    {{#paginate pagination type="next"}}
			      <li {{#if disabled}}class="disabled"{{/if}}><a href="/product/page/{{n}}">Next</a></li>
			    {{/paginate}}
			    {{#paginate pagination type="last"}}
			      <li {{#if disabled}}class="disabled"{{/if}}><a href="/product/page/{{n}}">Last</a></li>
			    {{/paginate}}
			  </ul>
</div>