

{{#if successMsg}}
	<div>{{successMsg}}</div>
{{/if}}

<h1>{{title}}</h1>


<h2>Products</h2>

<div><a href="{{baseUrl}}/product/create">New Product</a></div>

{{> pagination}}

{{# each products }} 

	{{#if this.imagePath}}
		<img style="width: 150px" src="{{baseUrl}}/{{this.imagePath}}" alt="">
	{{/if}}

	<p><strong>Title</strong>: {{this.title}}  | 
		<a href="{{baseUrl}}/product/edit/{{this._id}}" >Edit</a> | 
		<a href="{{baseUrl}}/product/delete/{{this._id}}" >Delete</a>
	</p>





{{/each}}

{{> pagination}}
